<!DOCTYPE html/>
<html land='en'/>
    <head>
        <meta charset="UTF-8">
        <title>Results Table</title>
    </head>
    <body>
        <h1>Results Table</h1>
        <table border=1 cellpadding=8>
            <tr>
                <th>FileId</th>
                <th>GT</th>
                <th>Malignant prediction 0</th>
                <th>Malignant prediction 1</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.fileid }}</td>
                <td>{{ obj.malignant }}</td>
                <td>{{ obj.malignant_pred0 }}</td>
                <td>{{ obj.malignant_pred1 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
